:root {
  --first-color: #393e46;
  --second-color: #5e63b6;
  --third-color: #d5eeff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--third-color);
}
.container .title {
  color: darkblue;
}
.value {
  padding-top: 25px;
}
.buttons {
  padding-top: 25px;
}
.btn {
  padding: 5px 15px;
  margin: 0 5px;
  font-size: 1.2rem;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:hover {
  background-color: tomato;
}
